<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="clase">
    <img src="assets/estaleiro.jpg" class="img">
    <h2>Sobre o aplicativo</h2>
    <p>Este aplicativo para dispositivos móveis foi
      desenvolvidos pelos alunos do 7º período do curso de
      Ciência da computação da universidade Uninassau, sob 
      orientação do professor João Ferreira, como parte da avaliação
      para a disciplina Desenvolvimento para Dispositivos Móveis
    </p>
    <ul>
      <li>Giovanni de Menezes</li>
      <li>Allyson Thiago</li>
      <li>Anderson Henrique de Souza</li>
      <li>João Victor Muribeca</li>
      <li>Lucas Brito</li>
    </ul>
</ion-card>
</ion-content>
